body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
  }
  
/* Agregamos la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Utilizamos la fuente en el header */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #3c3c3c;
    color: white;
    padding: 50px;
}

#header h1 {
    margin: 0;
}

#header button {
    display: inline-block;
    margin: 15px;
}

#header .button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#main{
    background-color: #ffffc4;
    color: #3c3c3c;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif; /* Utilizamos una fuente por defecto para el main */
    font-size: 17px;
    max-width: 100%; 
    overflow-x: hidden; 
}

#footer{
    background-color: #3c3c3c;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
    font-family: 'Montserrat', sans-serif; /* Agregamos la fuente */
}


/* Estilos para pantallas más pequeñas que 600px */
@media (max-width: 600px) {
    #header {
      flex-direction: column;
    }
  
    #header h1 {
      margin: 20px auto;
    }
  
    #main, #footer {
      padding: 10px;
    }
  }
/* Estilos para la tabla de canciones */
#canciones {
    margin-top: 20px;
    padding: 10px;
    background-color: #1f1e1e;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#canciones h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2c2c2c;
}

a {
    text-decoration: none;
    color: #d1d0d0;
}

a:hover {
    text-decoration: underline;
}
/* Estilos para el formulario de comentarios */
#comment-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

#comment-form:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#comment-form h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

#comment-form form {
    margin-top: 10px;
}

#comment-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#comment-form input[type="text"],
#comment-form textarea,
#comment-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    transition: border-color 0.3s, background-color 0.3s;
}

#comment-form input[type="text"]:focus,
#comment-form textarea:focus,
#comment-form select:focus {
    border-color: #007bff;
    background-color: #fff;
    outline: none;
}

#comment-form textarea {
    resize: vertical;
}

#comment-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#comment-form button:hover {
    background-color: #0056b3;
}

#comment-form button:focus {
    outline: none;
}